@use 'sass:color';

:root {
	--clr-shadow: #42424230;

	/****
    ACCENT COLORS
  ****/
	--clr-accent-1: hsl(169, 100%, 22%);
	--clr-accent-2: hsl(45, 100%, 51%);

	/****
    STATUS COLORS
  ****/
	--clr-error: hsl(0, 74%, 42%);
	--clr-success: hsl(142, 72%, 29%);
	--clr-info: hsl(221, 83%, 53%);
	--clr-warning: hsl(41, 96%, 40%);

	/****
    BACKGROUNDS COLORS
  ****/
	// primary
	--clr-bg-primary: hsl(0, 0%, 100%);
	--clr-txt-primary-on-bg-primary: hsl(0, 0%, 0%);
	--clr-txt-secondary-on-bg-primary: hsl(0, 0%, 16%);
	--clr-border-primary-on-bg-bg-primary: hsla(0, 0%, 0%, 0.2);
	--clr-border-secondary-on-bg-bg-primary: hsla(0, 0%, 16%, 0.2);

	// secondary
	--clr-bg-secondary: hsl(0, 0%, 84%);
	--clr-txt-primary-on-bg-secondary: hsl(0, 0%, 0%);
	--clr-txt-secondary-on-bg-secondary: hsl(0, 0%, 16%);
	--clr-border-primary-on-bg-bg-secondary: hsl(0, 0%, 0%);
	--clr-border-secondary-on-bg-bg-secondary: hsl(0, 0%, 16%);

	// accent-1
	--clr-bg-accent-1: hsl(169, 100%, 22%);
	--clr-txt-primary-on-bg-accent-1: hsl(0, 0%, 98%);
	--clr-txt-secondary-on-bg-accent-1: hsl(0, 0%, 86%);
	--clr-border-primary-on-bg-bg-accent-1: hsl(0, 0%, 86%);
	--clr-border-secondary-on-bg-accent-1: hsl(0, 0%, 72%);

	// accent-2
	--clr-bg-accent-2: hsl(45, 100%, 51%);
	--clr-txt-primary-on-bg-accent-2: hsl(0, 0%, 96%);
	--clr-txt-secondary-on-bg-accent-2: hsl(0, 0%, 86%);
	--clr-border-primary-on-bg-bg-accent-2: hsl(0, 0%, 90%);
	--clr-border-secondary-on-bg-accent-2: hsl(0, 0%, 80%);
}

body {
	background-color: var(--clr-bg-primary);
	color: var(--clr-txt-primary-on-bg-primary);
}

p {
	margin-bottom: var(--spacing-md);
}
